body {
    background-color: yellowgreen;
}
#score {
    font-size: 40px;
    margin-left: 50px;
}
#time {
    font-size: 40px;
    float: right;
    margin-right: 80px;
}
#sketch_drawn {
    color: rgb(255, 128, 0);
    font-size: 30px;
}